@model Uppgift2BankApp.ViewModels.AdminCustomerIndexViewModel

@{
    ViewData["Title"] = "Kundadmin";
}

<div class="page-content">
    <div class="page-header">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">@ViewData["Title"]</h2>
        </div>
    </div>

    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
            <form method="get" asp-controller="Admin" asp-action="CustomerIndex">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="text" class="form-control" asp-for="Q" placeholder="Sök på namn/stad...">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Sök</button>
                    </div>
                </div>
            </form>

            <table class="table">
                <a class="btn btn-primary" asp-controller="Admin" asp-action="CreateCustomer">Ny kund</a>
                <tr>
                    <th>Kundnr</th>
                    <th>Personnr</th>
                    <th>Namn</th>
                    <th>Gata</th>
                    <th>Stad</th>
                    <th></th>
                </tr>
                @foreach (var c in Model.Items)
                {
                    <tr>
                        <td>@c.CustomerId</td>
                        <td>@c.NationalId</td>
                        <td>@c.Name</td>
                        <td>@c.Streetaddress</td>
                        <td>@c.City</td>
                        <td><a class="btn btn-primary" asp-controller="Admin" asp-action="EditCustomer" asp-route-id="@c.CustomerId">Redigera</a></td>
                    </tr>
                }
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        @if (Model.Page > 1)
                                        {
                                            <a class="page-link btn btn-primary"
                                               asp-route-q="@Model.Q"
                                               asp-route-page="@(Model.Page - 1)">
                                                Prev
                                            </a>}
                                    </li>
                                    @for (int p = 1; p <= Model.TotalPages;)
                                    {
                                        if (Model.TotalPages > 7)
                                        {
                                            if (p == 1 || p == Model.Page || p == Model.Page - 1 || p == Model.Page + 1 || p == Model.TotalPages)
                                            {
                                                <li class="page-item @(Model.Page == p ? "active" : "")">
                                                    <a class="page-link btn btn-primary"
                                                       asp-route-q="@Model.Q"
                                                       asp-route-page="@p">
                                                        @p
                                                    </a>
                                                </li>
                                                p++;
                                            }
                                            else if (p < Model.Page - 1)
                                            {
                                                <li class="page-item page-link">
                                                    ...
                                                </li>
                                                p = Model.Page - 1;
                                            }
                                            else if (p > Model.Page + 1)
                                            {
                                                <li class="page-item page-link">
                                                    ...
                                                </li>
                                                p = Model.TotalPages;
                                            }
                                        }
                                        else
                                        {
                                            <li class="page-item @(Model.Page == p ? "active" : "")">
                                                <a class="page-link btn btn-primary"
                                                   asp-route-q="@Model.Q"
                                                   asp-route-page="@p">
                                                    @p
                                                </a>
                                            </li>
                                            p++;
                                        }
                                    }
                                    <li class="page-item">
                                        @if (Model.Page < Model.TotalPages)
                                        {
                                            <a class="page-link btn btn-primary"
                                               asp-route-q="@Model.Q"
                                               asp-route-page="@(Model.Page + 1)">
                                                Next
                                            </a>}
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
</div>