@model Uppgift2BankApp.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Hem";
}

<div class="page-content">
    <div class="page-header">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
        </div>
    </div>
    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
            @foreach (var item in Model.Items)
            {
                <div>
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon">
                                    <i class="icon-user-1"></i>
                                </div>
                                <strong><a asp-controller="Home" asp-action="TopTen" asp-route-countryCode="@item.CountryCode">@item.Country</a></strong>
                            </div>
                            <div class="number dashtext-4">Antal kunder: @item.CustomerCount</div>
                            <div class="number dashtext-1">Antal konton: @item.AccountCount</div>
                            <div class="number dashtext-2">Totalt saldo: @item.TotalBalance SEK</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>